<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.whattowatch.wtw.mapper.HistoricalRecordsMapper" >
  <resultMap id="BaseResultMap" type="top.whattowatch.wtw.po.HistoricalRecords" >
    <id column="hr_id" property="hrId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="m_title" property="mTitle" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hr_id, user_id, m_title, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.whattowatch.wtw.po.HistoricalRecordsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from historical_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from historical_records
    where hr_id = #{hrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from historical_records
    where hr_id = #{hrId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.whattowatch.wtw.po.HistoricalRecordsExample" >
    delete from historical_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.whattowatch.wtw.po.HistoricalRecords" >
    insert into historical_records (hr_id, user_id, m_title, 
      time)
    values (#{hrId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{mTitle,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.whattowatch.wtw.po.HistoricalRecords" >
    insert into historical_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hrId != null" >
        hr_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mTitle != null" >
        m_title,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hrId != null" >
        #{hrId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mTitle != null" >
        #{mTitle,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.whattowatch.wtw.po.HistoricalRecordsExample" resultType="java.lang.Integer" >
    select count(*) from historical_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update historical_records
    <set >
      <if test="record.hrId != null" >
        hr_id = #{record.hrId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.mTitle != null" >
        m_title = #{record.mTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update historical_records
    set hr_id = #{record.hrId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      m_title = #{record.mTitle,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.whattowatch.wtw.po.HistoricalRecords" >
    update historical_records
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mTitle != null" >
        m_title = #{mTitle,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hr_id = #{hrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.whattowatch.wtw.po.HistoricalRecords" >
    update historical_records
    set user_id = #{userId,jdbcType=VARCHAR},
      m_title = #{mTitle,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where hr_id = #{hrId,jdbcType=INTEGER}
  </update>
</mapper>