<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.whattowatch.wtw.mapper.MovieMapper" >
  <resultMap id="BaseResultMap" type="top.whattowatch.wtw.po.Movie" >
    <id column="movie_id" property="movieId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="resources" property="resources" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="types" property="types" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    movie_id, title, introduction, cover, resources, url, types
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.whattowatch.wtw.po.MovieExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  select
  <include refid="Base_Column_List" />
  from movie
  where movie_id = #{movieId,jdbcType=INTEGER}
</select>
  <select id="selectByTypesOrRand" resultMap="BaseResultMap" parameterType="java.lang.String" >
      SELECT m1.`movie_id` movie_id,m1.`title` title,m1.`cover` cover,m1.`introduction` introduction,m1.`resources` resources,m1.`url` url,m1.`types` TYPES
      FROM movie  AS m1  JOIN (SELECT ROUND(RAND() * ((SELECT MAX(movie_id) FROM `movie`)-(SELECT MIN(movie_id) FROM movie))+(SELECT MIN(movie_id) FROM movie)) AS movie_id) AS m2
    WHERE
    <if test="_parameter!=null">
      types like concat(concat('%',#{_parameter}),'%') and
    </if>
     m1.movie_id >= m2.movie_id ORDER BY m1.movie_id LIMIT 1



  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from movie
    where movie_id = #{movieId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.whattowatch.wtw.po.MovieExample" >
    delete from movie
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.whattowatch.wtw.po.Movie" >
    insert into movie (movie_id, title, introduction, 
      cover, resources, url, 
      types)
    values (#{movieId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{cover,jdbcType=VARCHAR}, #{resources,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{types,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.whattowatch.wtw.po.Movie" >
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="movieId != null" >
        movie_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="resources != null" >
        resources,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="types != null" >
        types,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="movieId != null" >
        #{movieId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="resources != null" >
        #{resources,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="types != null" >
        #{types,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <insert id="insertBatch" parameterType="java.util.List" >
    insert into movie(title,introduction,cover,resources,url,types)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.title},#{item.introduction},#{item.cover},#{item.resources},#{item.url},#{item.types})
    </foreach>
  </insert>

  <select id="countByExample" parameterType="top.whattowatch.wtw.po.MovieExample" resultType="java.lang.Integer" >
    select count(*) from movie
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <select id="recommendMovieByUserId" resultType="top.whattowatch.wtw.po.Movie">
        SELECT m1.`movie_id` movieId,m1.`title` title,m1.`cover` cover,m1.`introduction` introduction,m1.`resources` resources,m1.`url` url,m1.`types` TYPES
        FROM movie m1 JOIN (SELECT ROUND(RAND() * ((SELECT MAX(movie_id) FROM `movie`)-(SELECT MIN(movie_id) FROM movie))+(SELECT MIN(movie_id) FROM movie)) AS movie_id) AS m2
      WHERE m1.movie_id >= m2.movie_id
      <foreach collection="viewTypeStatistics" open="and(" close=")" separator="or" item="item">
          m1.types like concat(concat('%',#{item.mType}),'%')
      </foreach>
      and m1.title NOT IN (SELECT m_title FROM historical_records WHERE user_id=#{userId})
      ORDER BY m1.movie_id LIMIT #{pageSize}
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
    update movie
    <set >
      <if test="record.movieId != null" >
        movie_id = #{record.movieId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.cover != null" >
        cover = #{record.cover,jdbcType=VARCHAR},
      </if>
      <if test="record.resources != null" >
        resources = #{record.resources,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.types != null" >
        types = #{record.types,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update movie
    set movie_id = #{record.movieId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      cover = #{record.cover,jdbcType=VARCHAR},
      resources = #{record.resources,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      types = #{record.types,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.whattowatch.wtw.po.Movie" >
    update movie
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="resources != null" >
        resources = #{resources,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="types != null" >
        types = #{types,jdbcType=VARCHAR},
      </if>
    </set>
    where movie_id = #{movieId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.whattowatch.wtw.po.Movie" >
    update movie
    set title = #{title,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      resources = #{resources,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      types = #{types,jdbcType=VARCHAR}
    where movie_id = #{movieId,jdbcType=INTEGER}
  </update>
</mapper>